* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-1 {
  display: flex;
}
.container-1 div,
.container-2 div {
  border: 1px #ccc solid;
  padding: 10px;
}
.box-1 {
  flex: 2;
  order: 3;
}
.box-2 {
  flex: 1;
  order: 2;
}
.box-3 {
  flex: 2;
  order: 1;
}
.container-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-2-box {
  flex-basis: 25%;
}

.nav-container {
  display: flex;
  background-color: #f1f1f1;
  padding: 20px 10px;
  overflow: hidden;
}
.nav-logo {
  flex: 3;
  padding-left: 30px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.item {
  flex: 3;
  justify-content: space-between;
}

.item > a {
  padding: 20px;
}
.active {
  background-color: rgb(50, 222, 156);

  padding: 5px;
}
@media screen and (max-width: 500px) {
  .nav-container {
    display: block;
  }
}
